.infiniteLoop{
    display: none;
}
.bx-wrapper{
    border: none;
    box-shadow: none;
}



.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(43, 41, 45, 0.25);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: rgb(70, 14, 223);
}
